{% extends "base.html" %}
{% load static %}

{% block css %}
<style>
/* Spinner styles */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none; /* Hidden by default */
  position: fixed; /* Or absolute */
  z-index: 1000;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px; /* Center the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
{% endblock %}



{% block content %}
<div class="container">
<h2>Configuration</h2>

Here you can configure the app.

To import data from a Google Sheet, enter the URL here.
<div class="loader" id="loader"></div>
<form method="post" id="config_form">
    {% csrf_token %}
    {{ config_form.as_p }}
    <button type="submit">Submit</button>
</form>

{% if job_id %}
  <p id="status">Processing data...</p>
{% endif %}

{% endblock %}

{% block scripts %}
<!-- <script>
$('#config_form').submit(function(e) {
    e.preventDefault();
    var postData = $(this).serialize();
    $.post('/config/', postData, function(data) {
        // Handle response
    });
});
</script> -->


    <script>
        $(document).ready(function() {
            const jobId = "{{ job_id }}";
            function checkStatus() {
                $.ajax({
                    url: '/check-job-status/' + jobId,
                    success: function(data) {
                        $('#status').text('Status: ' + data.status);
                        if (data.status === 'finished') {
                          $('#status').text('Done. ' + data.result[1]);
                            clearInterval(interval);
                        }
                    }
                });
            }
            var interval = setInterval(checkStatus, 5000); // Check every 5 seconds
        });
    </script>
{% endblock %}
