{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">


<h2>Entity Types</h2>
<ul>
{% for entity_type in entity_types %}
    <li>{{ entity_type.name }}</li>
{% endfor %}
</ul>

<h2>Relationship Types</h2>
<ul>
{% for relationship_type in relationship_types %}
    <li>{{ relationship_type.source_entity_type.name }} - {{ relationship_type.label }} - {{ relationship_type.target_entity_type.name }}</li>
{% endfor %}
</ul>

<h2>Entities</h2>
<ul>
{% for entity in entities %}
    <li>{{ entity.entity_type.name }} - {{ entity.key}}
      <ul>
        {% for value in entity.values.all %}
          <li>{{ value.field.field_name }}: {{ value.value }}</li>
        {% endfor %}
      </ul>
    </li>
{% endfor %}
</ul>

<h2>Values</h2>
<ul>
{% for value in values %}
  <li>{{ value.field.field_name }} : {{ value.value }}
  </li>
{% endfor %}
</ul>
</div>

{% endblock %}
