{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" id="entity">

<h1> {{ entity.name }} </h1>

<a href="/network/?search={{ entity.name }}"><span class="fa fa-share-alt"></span> Network </a><br>

<b>Entity Type</b>: {{ entity.entity_type.name }}<br>

<b>Key:</b> {{ entity.key }} <br>

{% if entity.start_date %} <b>Dates</b>: {{ entity.start_date }} - {{ entity.end_date }} <br>{% endif %}

{% for value in entity.values.all %}
 {% if value.field.name != "Image URL" %}
    <b>{{ value.field.name }}</b>: {{ value.value|default_if_none:"" }}
    <br>
  {% endif %}
{% endfor %}

{% if entity.image_url %}
  <img width="80%" src="{{ entity.image_url }}"/>
{% endif %}

{% for relationship_type, related_entity in relationships %}
  {% if related_entity %}
    <h4>{{ relationship_type }}</h4>
    {% for r in related_entity %}
      <a href="/entity?type={{ r.entity_type.name }}&key={{ r.key }}">{{ r.name }}</a>
      {% if not forloop.last %} | {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

</div>
{% endblock %}
