{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Artist Network Toolkit</h1>
    <p>Exploring the connections of artistic production</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/tapilab/ant"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
{% endblock %}
